
html {
    // * {
    //     @include scrollbar(.8rem);

    //     @include tablet {
    //         @include scrollbar(0);
    //     }
    // }


}

body {
    font-family: 'Pretendard', 'Montserrat', 'S-CoreDream', sans-serif;
    background-color: #fff;
}

.inner {
    width: calc(100% - 4rem);
    max-width: 43rem;
    margin: 0 auto;
}


.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 43rem;
    margin: 0 auto;
    overflow-x: hidden;
}



.content {
    padding: 2rem;
}

.content-container {
    background-color: #fff;
}


.main {
    background-color: #0b5fb8;

    .title {
        margin: 0 auto 4rem;
        padding: .5rem 1rem;
        width: 50%;
        color: #0b5fb8;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'S-CoreDream';
        border-radius: .3rem;
        background-color: #fff;
    }

    .img  {
        margin: 0 auto;
        padding: .5rem;

        .cls-1 {
            fill: #fff;
        }

        .cls-2 {
        stroke-dasharray: 1 3;
        }

        .cls-2, .cls-3 {
        fill: none;
        stroke: #fff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: .5px;
        }
    }

    .box {
        @include flex(between,center);
        gap: 1rem;
        margin-top: 1rem;

        p {
            color: #fff;
            font-size: 1.8rem;
            font-weight: bold;
            font-family: 'Montserrat';

            span {
                display: block;
                margin-top: -4px;
                font-size: 1.4rem;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

.info {

    ul {
        li {
            @include flex(between,center);
            gap: 1rem;
            margin-top: 1rem;

            div {
                flex: 1;

                p {
                    color: #555;
                    font-size: 1.4rem;
                }

                strong {
                    font-size: 1.5rem;
                }

                &:last-child {
                    padding-left: 20%;
                }
            }
        }
    }

    .img {
        width: 100%;
        padding: 2.5rem .5rem 0;
        margin-top: 2.5rem;
        border-top: 1px dashed #ccc;
        display: flex;
        gap: 2rem;

        > div {
            div {
                span {
                    color: #555;
                    font-size: 1.4rem;
                    margin-right: 6px;
                }

                strong {
                    color: #0b5fb8;
                }
                margin-bottom: 1rem;
            }
        }
        p {
            word-break: auto-phrase;
        }

        img{
            width: 100px;
            height: 100px;
            filter: brightness(0);
            margin: 0 auto;

        }
    }
}